/* App.css */

/* General Layout */
.app-container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.search-container {
  text-align: center;
}

.search-input,
.filter-select,
.platform-select,
.search-button {
  padding: 12px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-input {
  width: 80%;
  max-width: 400px;
}

.filter-select,.platform-select {
  width: 180px;
}

.search-button,.pagination-controls {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
}

.results-container {
  text-align: center;
  margin-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.image-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-price {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

.view-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.view-button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .search-input,
  .filter-select,
  .search-button {
    width: 90%;
  }
}
